name: Frontend CI

on: [push, pull_request]

jobs:
  build:
    defaults:
      run:
        working-directory: front
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Use Node ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Build and run tests
      run: |
        yarn
        yarn test
      env:
        CI: true
